html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: rgb(253, 252, 252);
}

#menu {
    display: flex;
    justify-content: center;
}

#menu-dv {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: space-between;
   height: 100px;

}

#menu-title {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 15px;
    align-items: center;
}

#menu-ct {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

#menu-ct li {
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.mobile-menu{
    cursor: pointer;
    display: none;
    margin-right: 30px;
    margin-top: 30px;
}

.mobile-menu div{
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 8px;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    #menu-ct{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 40vh;
        background-color: rgb(146, 47, 47);
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
    }
    #menu-ct li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    #menu-ct.active{
        transform: translateX(0);
    }
}

#menu-ct a {
    text-decoration: none;
    color: black;
}